* {
    font-family: Montserrat;
    user-select: none;
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: transparent;
}

main {
    position: absolute;
    width: 100%;
    height: calc(100% - 25px);
    top: 25px;
    background-color: #070707;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}